body {
  background-color: #6d6b6bce;
}

header {
  background-color: rgb(159, 161, 161);
}

/* Títulos principales */
h3:hover {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  color: hsl(207, 74%, 45%);


}

h2:hover {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  color: hsl(46, 100%, 50%);
}

h1 {
  
  color: hsl(221, 100%, 21%);
}

img {

  width: 700px;
  height: 500px;

  &:hover {
    border: 2px solid aquamarine;

  }
}



a {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(74, 102, 194);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  font-weight: bold;
}

a:hover {
  background: transparent;
  color: rgb(70, 193, 202);
  border: 2px solid rgb(70, 193, 202);
}

h body {
  font-family: 'Times New Roman', Times, serif;
  color: hsl(0, 0%, 0%) !important;
}

input:hover {
  border: width 3px;
  border-color: rgb(136, 255, 196);
  border-style: solid;
}

p:hover {
  color: rgba(0, 18, 175, 0.685);
}