body {
  background-color: #6d6b6bce;
}

header {
  background-color: rgb(159, 161, 161);
  width: 100vw;
  height: 18vh;
  margin:0;

}


h3:hover {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  color: hsl(207, 74%, 45%);



}

h2:hover {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  color: hsl(46, 100%, 50%);
}

h1 {
  
  color: hsl(0, 0%, 7%);
}

img {

  width: 700px;
  height: 500px;

  &:hover {
    border: 2px solid rgb(75, 75, 75);

  }
}



a {
  display: inline-block;
  padding: 15px 23px;
  background: rgb(54, 54, 54);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  font-weight: bold;
  
 
}

a:hover {
  background: transparent;
  color: rgb(111, 122, 122);
  border: 2px solid rgb(175, 185, 185);
}

h body {
  font-family: 'Times New Roman', Times, serif;
  color: hsl(0, 0%, 0%) !important;
}

input:hover {
  border: width 3px;
  border-color: rgb(136, 255, 196);
  border-style: solid;
  color: aquamarine;
}

p:hover {
  color: rgba(0, 18, 175, 0.685);
}
article{

  background-color: #6d6b6bce;
  padding: 1rem;
  margin-bottom:18px ;
  border-radius: 25px;
  box-shadow: 20px 1px 3x 5px; rgba (255,255,255,1)
}