
*{
 

/* Títulos principales */
h3:hover{
  border-width: 3px;
  border-color:black;
  border-style: solid;
  color: hsl(207, 74%, 45%);

  
} 
h2:hover{
  border-width: 3px;
  border-color:black;
  border-style: solid;
  color: hsl(229, 75%, 68%);

  
} 
 }
  *{

        

h1{
  border-width: 3px;
  border-color:rgb(0, 0, 0);
  border-style: solid;
  color: hsl(221, 100%, 28%);
}
img:hover{
   border: width 3px;
   border-color:rgb(136, 255, 196);
  border-style: solid;
}
a {
  display: inline-block;
  padding:9px 13PX;
  background: rgb(74, 102, 194);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  font-weight: bold;
}

a:hover {
  background: transparent;
  color: rgb(70, 193, 202);
  border: 2px solid rgb(70, 193, 202);
}
}h
body{
     font-family: cursive;
          color:hsl(0, 100%, 50%)
          
                }
input:hover{
border: width 3px;
   border-color:rgb(136, 255, 196);
  border-style: solid;
        }
  P:hover{
    color:rgb(19, 142, 179)

  }
 


 











  